*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#headerContainer{
    width: 100%;
    min-height: 90vh;
    background-color: #134544;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    overflow: hidden;
    .bg-video{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-blend-mode: multiply;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        /* position: sticky;
        top: 0;*/
        width: 100%;
        div{
            padding: 5px 20px;
            display: flex;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            gap: 40px;
            img{
                width: 80px;
                mix-blend-mode: color-burn;
            }
            > a{
                text-decoration: none;
                color: #134544;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: bold;
            }
            button{
                color: white;
                background-color: #134544;
                width: 120px;
                height: 40px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                a{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    padding: 12px;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    > h1{
        font-family: Arial, Helvetica, sans-serif;
        color: #134544;
        position: relative;
        text-align: center;
        width: 35%;
        margin: 50px auto 15px auto;
        line-height: 50px;
        &::first-line{
            color: white;
        }
        + p{
            position: relative;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: 14px;
            letter-spacing: 1px;
        }
    }
}
@media screen and (max-width: 770px){
    #headerContainer{
        min-height: 70vh;
        .bg-video{
            object-fit: contain;
        }
        header{
            background-color: #555555;
            div#go{
                display: none;
            }
        }
        > h1{
            width: 100%;
            color: white;
        }
        > p{
            width: 100%;
            margin-top: 180px;
        }
    }
}